# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


#include <graphics.h>

int main()
{
    float dy=1,dx=1,width=80*2,height=60*2,left=10,right=left+width,top=10,bottom=top+height;
    int gd=DETECT,gm;
    int color=RED;
    initgraph(&gd,&gm," ");
    while(1)
    {
    setfillstyle(SOLID_FILL,color);
    bar(left,top,right,bottom);
    if(top<=0)
    dy=1;
    if(bottom>=getmaxy())
    dy=-1;
    if(right>=getmaxx())
    dx=-1;
    if(left<=0)
    dx=1;
    if(top<=0||bottom>=getmaxy()||right>=getmaxx()||left<=0)
    {
        if(color>=15)
        color=0;
        color++;

    }
    delay(20);
    setfillstyle(SOLID_FILL,BLACK);
    bar(left-5,top-5,right+5,bottom+5);
    left+=(dx);
    right+=(dx);
    top+=(dy);
    bottom+=(dy);
    if(kbhit())
        break;
    }
return 1;
}

